@media screen and (max-width: 480px) {

    .section-1{
        padding: 20px 20px;
    }

    .section-1 h1:nth-of-type(1) {
        font-size: 30px;
        margin-top: 20px;
    }

    .section-1 h1,.section-2 h1 {
        font-size: 30px;
    }

    .section-1 .company, .line{
        display: none;
    }


    .section-2 {
        padding: 20px 20px;
    }

    .section-2 .header> div:nth-of-type(1){
        display: block;
    }
    .section-2 .header> div{
        display: none;
    }
    .section-2-section{
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
    }
    .section-2-section .content {
        width: 100%;
        padding-right: 0px;
    }
    .section-2-section .img{
        width: 100%;
    }
    .section-2-section .img img{
        width: 100%;
    }
    .btn{
        margin: 10px auto;
    }
    .section-3{
        padding: 10px 10px;
    }
    .section-3> h1{
        font-size: 30px;
        padding: 20px 0px;
    }
    .section-3 .box{
        flex-direction: column;
        gap: 10px;
    }
    .box1 h1 img{
        width: 75px;
        height: 73px;
    }
    .section-4{
        margin: 20px 5px;
        padding: 10px 0px;
        border-radius: 10px;
    }
    .section-4 img:nth-of-type(3), .section-4 h4, .section-4 p{
        display: none;
    }
    .section-5{
        padding: 20px;
    }
    .section-5 h1{
        font-size: 30px;
    }
    .section-5 .box {
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
    footer{
        padding: 10px 30px;
    }
    footer > h1{
        font-size: 30px;
    }
    .credit{
        display: none;
    }
}
@media (min-width: 481px) and (max-width: 1024px) {
    .section-1{
        padding: 20px 20px;
    }
    .section-1 .company{
        font-size: 10px;

    }
    .section-2 {
        padding: 20px 20px;
    }
    .section-2 .header img:nth-of-type(1){
        display: block;
    }
    .section-2 .header img{
        display: none;
    }
    .section-2-section{
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
    }
    .section-2-section .content {
        width: 100%;
        padding-right: 0px;
    }
    .section-2-section .img{
        width: 100%;
    }
    .section-2-section .img img{
        width: 100%;
    }
    .btn{
        margin: 10px auto;

    }
    .section-3{
        padding: 10px 10px;
    }
    .section-3> h1{
        /* font-size: 30px; */
        padding: 20px 0px;
    }
    .section-3 .box{
        flex-direction: column;
        gap: 10px;
    }
    .section-4{
        margin: 20px 5px;
        padding: 10px 0px;
        border-radius: 10px;
    }
    .section-5{
        padding: 40px;
    }
    .section-5 h1{
        font-size: 30px;
    }
    .section-5 .box {
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
    }
    footer{
        padding: 40px 30px;
    }
    footer > h1{
        font-size: 30px;
    }
    .credit{
        font-size: 10px;
    }
}